#editor {
    width: auto;
    height: 100%;
    min-height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#title-editor {
    margin-bottom: 10px;
}

#body-editor {
    width: 100%;
    height: 100%;
    min-height: 400px;
    padding: 20px;

    display: inline-block;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    resize: none;

    border: none;
    border-right: 1px solid #ccc;
    outline: none;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
}

#output {
    width: 100%;
    height: 100%;
    min-height: 400px;
    padding: 20px;
}
