html, body {
  overflow-y: scroll;
}

.container .row{
    margin-top: 10px;
}

.tab-panel {
    margin-top: 20px;
}

.page-summary {
    margin: 10px;
    border-bottom: solid 1px #ddd;
}

.page-summary .page-author-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.page-summary .page-author-icon img {
    width: 40px;
    height: 40px;
}

.page-summary .page-info {
    margin-left: 10px;
    display: inline-block;
}

.page-summary .page-info h1{
    display: inline;
    line-height: 24px;
    font-size: 16px;
    font-weight: 900;
}
