<nav class="page-sidebar">
  <h3>Projects</h3>
  <ul class="project-list" ng-repeat="proj in projects">
    <li>
      <input type="checkbox" name="projects" value="{$ proj.id $}">{$ proj.name $}</input>
    </li>
  </ul>
  <h3>Access Level</h3>
  <input type="radio" ng-model="page.access" value="public">Public <br/>
  <input type="radio" ng-model="page.access" value="group">Group <br/>
  <div class="group-list" ng-show="page.access=='group'" ng-repeat="group in groups">
    <input name="" type="checkbox" ng-model="group.enabled">{$ group.Name $}</input>
  </div>
  <input type="radio" ng-model="page.access" value="private">Private <br/>
</nav>
