<div class="row">
  <!-- title editor -->
  <div class="col-xs-12">
    <input type="text" name="title"
            class="form-control input-lg" value="" placeholder="Title" ng-model="page.Article.Title">
  </div>
</div><!-- row -->

<!-- main editor -->
<div class="row" id="editpage-body-row">
  <div class="col-xs-6" id="editpage-body-col-editor">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-pencil-square-o"></i> edit</div>
      <div class="panel-body">
        <textarea class="form-control" name="body" id="body-editor" ng-model="page.Article.Body"></textarea>
      </div>
    </div>
  </div>
  <div class="col-xs-6" id="editpage-body-col-preview">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-laptop"></i> preview</div>
      <div class="panel-body">
        <div id="output"></div>
      </div>
    </div>
  </div>
</div><!-- row -->
