{% extends "admin.html" %}

{% block admin_content %}
<div id="groups">
  <h2>Groups</h2>
  <hr>
  <div class="row">
    <div class="col-xs-5">
      <form v-on="submit:addGroup" name="addGroup" class="form-inline">
        <div class="form-group">
          <input class="form-control" name="" type="text" v-model="inputGroup" placeholder="Group Name"/>
          <input type="submit" value="Add Group" class="btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table group-table">
        <thead>
          <tr>
            <th></th>
            <th> Name </th>
          </tr>
        </thead>
        <tbody>
          <tr v-repeat="group: groups">
            <td></td>
            <td><a href="/admin/groups/{$ group.id $}">{$ group.name $}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block exscript %}
<script src="/assets/js/vue_groups.js"></script>
{% endblock %}
