{% extends "navbar.html" %}

{% block title %} main page {% endblock %}

{% block posthead_main %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="/assets/css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container" ng-controller="PageCtrl as pageCtrl">
  <div class="row">
    <a class="btn btn-lg btn-success" href="/action/createNewPage" role="button">新規作成</a>
  </div>
  <div role="tabpanel" class="tab-panel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#all" aria-controlls="home" role="tab" data-toggle="tab">全て</a>
      </li>
      <li role="presentation">
        <a href="#mine" aria-controlls="mine" role="tab" data-toggle="tab">自分の投稿</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="all">
        <div ng-repeat="page in pages">
          <div class="page-summary">
            <div class="page-author-icon"><img src="/assets/images/icon.png" alt="author" class="img-circle"></div>
            <div class="page-info"><h1><a href="/wiki/{$ page.Id $}">{$ page.Article.Title $}</a></h1></div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="mine">
        <div ng-repeat="page in ownpages">
          <div class="page-summary">
            <div class="page-author-icon"><img src="/assets/images/icon.png" alt="author" class="img-circle"></div>
            <div class="page-info"><h1><a href="/wiki/{$ page.Id $}">{$ page.Article.Title $}</a></h1></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
