{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block posthead %}
<link href="assets/css/login.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  <form class="form-signin" accept-charset="ascii" action="/login" method="POST">
    <h2 class="form-signin-heading"> Please Login </h2>
    <label for="login_field" class="sr-only">Username</label>
    <input autocorrect="off" name="username" id="login_field" type="text" class="form-control" placeholder="Username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input name="password" id="password" type="password" class="form-control" placeholder="Password"  required>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
  </form>
</div>
{% endblock %}
