{% extends "base.html" %}

{% block posthead_navbar %}
<link href="/assets/css/navbar.css" rel="stylesheet">
{% endblock %}

{% block body %}
<nav class="navbar navbar-default navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><img src="/assets/images/shoebill_48_360.png"></li>
				<li><a class="navbar-brand" href="#">Go Wiki</a></li>
				<li><a href="/wiki">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/action/createNewPage">記事作成</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ loginuser.Name }}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">マイページ</a></li>
						<li><a href="#">設定</a></li>
						<li class="divider"></li>
						<li><a href="/logout" data-method="post" >ログアウト</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

{% block content %}
{% endblock %}

{% endblock %}
