{% extends "base.html" %}

{% block posthead_navbar %}
<link href="/assets/css/navbar.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block body %}
<nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar"
      aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul id="navbar-icon" class="nav navbar-nav">
      <li><a class="icon-irori" href="/home"></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="navbar-form" role="search" ng-submit="navCtrl.submit()" ng-controller="NavbarCtrl as navCtrl">
          <div class="form-group">
            <input class="form-control" ng-model="inputquery" type="text" value="" placeholder="Search"/>
          </div>
        </form>
      </li>
      <li><a href="/action/createNewPage">記事作成</a></li>
      <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img class="user-icon" src="/api/users/icon"/><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">マイページ</a></li>
        <li><a href="/profile">設定</a></li>
        {% if loginuser.Is_admin %}
        <li><a href="/admin">管理</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="/logout" data-method="post" >ログアウト</a></li>
      </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</nav>

{% block content %}
{% endblock %}

{% endblock %}
