{% extends "navbar.html" %}

{% block title %}Create New Page{% endblock %}

{% block posthead_main %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/highlight.min.js"></script>
<link href="/assets/css/editor.css" rel="stylesheet">
<link href="/assets/css/project-list.css" rel="stylesheet">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.2/styles/default.min.css"/>
{% endblock %}

{% block content %}
<form ng-submit="pageCtrl.addPage()"  ng-controller="PageCreateCtrl as pageCtrl">
  <!-- sidebar -->
  <div class="col-xs-2">
    <page-sidebar></page-sidebar>
  </div><!-- col-xs-2 -->
  <!-- sidebar -->

  <!-- editpage content -->
  <div class="col-xs-10" id="page-editor">

    <!-- main editor -->
    <page-editor></page-editor>

    <!-- action btn -->
    <div class="row" id="editpage-action-btn-row">
      <div class="col-xs-12">
        {% if isEditor %}
        <button type="submit" class="btn btn-primary pull-right">
          {% else %}
          <button type="submit" class="btn btn-primary pull-right"
            data-container="body" disabled="disable"
            data-toggle="popover" data-placement="left" data-content="Disable for guest">
            {% endif %}
            <i class="fa fa-floppy-o"></i> Save
          </button>
        </div>
      </div>
    </div>

  </div>
  <!-- editpage content -->
</form>
{% endblock %}

{% block exscript %}
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover('show')
});

$(function() {
  $('.project-list li a').each(function(i) {
    $(this).click( function(e) {
      console.log('clicked');
      var $checkbox = $('input', this);
      var $item_a = $('a', this);
      if ($checkbox.prop('checked')) {
        $checkbox.prop('checked',false);
        $(this).removeClass('selected');
      } else {
        $checkbox.prop('checked',true);
        $(this).addClass('selected');
      }
      return false; // cancel event chain
    });
  });
});

</script>
{% endblock %}
