{% extends "base.html" %}

{% block posthead_main %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="/assets/css/prelogin.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<i class="icon-irori"></i>
	<h1>Irori</h1>
	<div class="container">
	  <form class="form-login" accept-charset="ascii" action="/login" method="POST">
	    <div class="form-login-heading" data-alert-type="danger" data-alert-value='{{ error }}'> </div>
	    <label for="login_field" class="sr-only">Username</label>
	    <input autocorrect="off" name="username" id="login_field" type="text" class="form-control" placeholder="Username" required autofocus>
	    <label for="password" class="sr-only">Password</label>
	    <input name="password" id="password" type="password" class="form-control" placeholder="Password"  required>
	    <p class=".small">guest:guest for guest login</p>
	    <input class="btn btn-lg btn-default btn-block" type="submit" value="Login">
	  </form>
	</div>
{% endblock %}
