{% extends "navbar.html" %}

{% block title %} main page {% endblock %}

{% block posthead_main %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="/assets/css/profile.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="/profile"><i class="fa fa-user"></i><span>profile</span></a></li>
    <li><a href="/profile/password/edit"><i class="fa fa-lock"></i><span>password</span></a></li>
  </ul>
</div>

{% endblock %}
