{% extends "profile.html" %}

{% block profile_content %}
<div class="">
  <h3>Password</h3>
  <hr>
  <form name="passwordForm" class="form-horizontal" ng-submit="passCtrl.updatePassword()" ng-controller="UserPasswordController as passCtrl">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_current_password">Current password</label>
      <div class="col-sm-10">
        <input class="form-control" id="user_current_password" type="password" required="required" value="" ng-model="password.currentPassword">
        <div>Forgot your password? (not implemented yet)</div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_password">New password <br>(more than 6 characters)</label>
      <div class="col-sm-10">
        <input class="form-control" id="user_password" type="password" required="required" value="" ng-model="password.newPassword" ng-minlength="6">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_password_confirmation">Password confirmation</label>
      <div class="col-sm-10">
        <input name="passConf" class="form-control" id="user_password_confirmation" type="password" required="required" ui-validate="{same : '$value==password.newPassword'}" ng-model="password.passwordConfirmation">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input ng-disabled="passwordForm.$invalid" class="btn btn-primary" name="" type="submit" value="Save password">
      </div>
    </div>
  </form>
</div>
{% endblock %}
