{% extends "admin.html" %}

{% block admin_content %}
<div id="projects">
  <h2>Projects</h2>
  <hr>
  <div class="row">
    <div class="col-xs-5">
      <form v-on="submit:addProject" name="addProject" class="form-inline">
        <div class="form-group">
          <input class="form-control" name="" type="text" v-model="project.name" placeholder="Project Name"/>
          <input type="submit" value="Add Project" class="btn btn-primary"/>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table projects-table">
        <thead>
          <tr>
            <th></th>
            <th> Name </th>
          </tr>
        </thead>
        <tbody>
          <tr v-repeat="proj: projects">
            <td></td>
            <td><a href="/admin/projects/{$ proj.id $}">{$ proj.name $}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block exscript %}
<script src="/assets/js/vue_projects.js"></script>
{% endblock %}
