{% extends "home.html" %}

{% block home_content %}
<h1>search result: {{ query }} </h1>
<hr>
<div ng-controller="PageSearchCtrl as pageCtrl" ng-init="init('{{query}}')">
  <div ng-repeat="page in pages">
    <div class="page-summary">
      <div class="page-author-icon"><img ng-src="/api/users/{$ page.author $}/icon" alt="author"></div>
      <div class="page-info">
        <div class="page-action">{$ page.article.user.name $}により編集されました</div>
        <h1><a href="/docs/{$ page.id $}">{$ page.article.title $}</a></h1>
      </div>
    </div>
  </div>
</div>
{% endblock %}
