{% extends "base.html" %}

{% block title %} Sign in {% endblock %}

{% block posthead_main %}
<link href="/assets/css/login.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
  <form class="form-signin" accept-charset="ascii" action="/signup" method="POST">
    <h2 class="form-signin-heading"> Please Sign up </h2>
    <div class="form-signin-heading" data-alert-type="danger" data-alert-value='{{ error }}'> </div>
    <label for="signup_field" class="sr-only">Username</label>
    <input autocorrect="off" name="username" id="signup_field" type="text" class="form-control" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input name="password" id="password" type="password" class="form-control"  required autofocus>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Singup">
  </form>
</div>
{% endblock %}
