{% extends "admin.html" %}

{% block admin_content %}
<div ng-controller="UsersCtrl as usersCtrl">
  <h2>Users</h2>
  <hr>
  <a href="/admin/adduser" class="btn btn-default"><i class="fa fa-user-plus"></i>Add User</a>
  <div class="row">
    <div class="col-xs-12">
      <table class="table users-table" ng-show="users">
        <thead>
          <tr>
            <th> Name </th>
            <th> E-Mail </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td> {$ user.name $} </td>
            <td> {$ user.email $}</td>
            <td><button class="btn btn-default" ng-click="deleteUser(user.id)">delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
