{% extends "navbar.html" %}

{% block content %}
<div class="container" ng-controller="UsersCtrl as usersCtrl">
  <h1>Users</h1>

  <div class="row">
    <div class="col-xs-12">
      <table class="table users-table" ng-show="users">
        <thead>
          <tr>
            <th> Name </th>
            <th> E-Mail </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td> {$ user.name $} </td>
            <td> {$ user.email $}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
