{% extends "navbar.html" %}

{% block title %}{{ page.Article.Title }}{% endblock %}

{% block posthead_main %}
<link href="/assets/css/viewpage.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="viewpage">
	<div class="viewpage-top">
		<div class="container">
			<h1 id="viewpage-title">{{ page.Article.Title }}</h1>
			<div id="viewpage-projecttagspace">
				<span id="viewpage-tag" class="label label-default">ProjectTag</span>
			</div>
			<div id="viewpage-tagspace">
				<span id="viewpage-tag" class="label label-default">TestTag</span>
				<span id="viewpage-tag" class="label label-default">TestTag</span>
			</div>
			<div class="raw">
				<div id="viewpage-col-articleinfo1" class="col-sm-1" >
					<a id="viewpage-editbtn" class="btn btn-default btn-sm"
						href="/wiki/{{ page.Id.Hex() }}/edit">記事を編集</a>
				</div>
				<div id="viewpage-col-articleinfo2" class="col-sm-5" >
					<h5>最終更新日時 : {{ page.Article.Date }} 更新者 : {{ editeduser.Name }} </h5>
				</div>
			</div>
		</div>
	</div>
	<div class="viewpage-main">
		<div class="container">
			<div>{{ page.Article.Body|markdown|sanitize }}</div>
		</div>
	</div>
</div>
{% endblock %}
